<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css'/>
    
    <title>Data Science</title>
</head>

<body>
    <h1>Data Science</h1>

    <h2>What is a Data Scientist?</h2>
    <article>A Data Scientist is a ...</article>

    <ul>
    <% dss.forEach(function(ds) {%>
        <li>
            <%=careerSchema.name%>
       </li>
        <%}%> 
    </ul>
   

    <!-- Add a button that adds this career name to a list on new.ejs -->
  
</body>
</html>