<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css'/>

    <title> My Careers List</title>
</head>
<body>
    <!-- Begin hero section here -->
    <section class="hero">
        <h1 class='logo'> &lt;Tech Career Depot/&gt; </h1>
        <p>...find yourself in technology.</p> <br>
        
    </section>

    <h1>Here is a list of Careers you're interested in:/h1>

        <ul>
            <li>career 1 </li> <input type="button" value="X">
        </ul>
       
    <!-- link to import career name and description from database and add delete button -->

</body>
</html>