<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css'/>
    
    <title>Tech Careers</title>
</head>

<body>
    <h1>Tech Careers List</h1>
    <ul>
        <li>
            <a href="ds.ejs"><h2>Data Science</h2></a> 
        </li>  
        <li>
            <a href="se.ejs"><h2>Software Engineering</h2></a> 
        </li>
        <li>
            <a href="uxui.ejs"><h2>User Experience/ User Interface Designer</h2></a> 
        </li>   
    </ul>
  
    
</body>
</html>